body {
  font-family: "League Spartan", sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: none;
  letter-spacing: 2px;
}

.text-underline {
  height: 5px;
  width: 5rem;
  background: rgb(248, 202, 141);
}

.btn-container {
  margin-top: 2rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.btn-container .btns{
    display: flex;
    gap: 4rem;
}

.btn-container .btns button{
    padding: 7px 12px;
    border-radius: 4px;
    outline: none;
    border: none;
    background: rgb(247, 167, 64);
    font-size: medium;
    color: antiquewhite;
    letter-spacing: 2px;
    transition: all 0.2s ease;
}

.btn-container .btns button:hover{
    background: rgb(173, 118, 40);
    cursor: pointer;
}

